.listUsers {
    margin-left: 60%;
    width: 25%;
    position: absolute;
    background-color: #dbdbdb;
    top: 0;
    right: 2rem;
}

.pesquisar__user{
    max-height: 6.5rem;
    display: flex;
    align-items: center;
}

.pesquisar__user > form > input {
    height: 2.5rem;
    width: 15rem;
    padding: .2rem;
    margin: 1rem .3rem 0 0;
    border-radius: 1rem;
    border: 1px solid gray;
    background-color: #d0d0d0;
    outline: 0;
}

.pesquisar__user > form > input:focus{
    outline: 0;
} 

#button-search{
    padding: .8rem;
    background-color: #d0d0d0;
    color: gray;
    border: 1px solid gray;
    border-radius: .9rem;
}

#button-search:hover{
    background-color: #cccccc;
}