.usuario{
    display: flex;
    flex-direction: column; 
    background-color: #FFFFFF;
    padding: 0.2rem;
    border: 1px solid #dbdbdb;
}

.img__nickname{
    display: flex;
    align-items: center;
}

.nickname {
    font-weight: bold;
    font-size:medium;
    margin-left: .2rem;
    color: #4666b1;
}

.name {
    margin-left: .4rem;
    color:  #ABB9D9;
}

.mini_perfil{
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
}

.descricao{
    max-width: 100%;
    color: gray;
}

p{
    margin: 0;
}