.home{
    position: relative;
}
.nova-publicacao{
    width: 50%;
    margin:2rem 5rem;
    padding: 1rem;
    border-radius: .5rem;
    background-color: #FFFFFF;
    box-shadow:  .6rem .5rem 1.5rem .2rem #414141;
    position: relative;
}

.nova-publicacao-container{
     display: flex;
}

.foto-perfil{
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
}
.publicacao-direita{
    width: 65%;
    height: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.saudacao {
    font-size:x-large;
    font-weight: 300;
    margin-left: .7rem;
    font-family: Arial, Helvetica, sans-serif;
    color: #4666b1;
}

.publicacao-direita > form {
    height: 60%;
}

.publicacao-direita > form > input {
    width: 100%;
    height: 4rem;
    margin: 0 10%;
    border-radius: .4rem;
    border:1px solid  gray;
}

.publicacao-direita > form > input:focus{
    outline: 0;
}
.publicacao-direita > form > button {
    width: 4rem;
    margin:.2rem 0 0 97%;
    border-radius: .5rem;
    background-color: #ABB9D9;
    padding: 0.5rem;
    border: none;
}

.publicacao-direita > form > button:hover{
    background-color: #a2b4de;
}

.Modal--create--overlay {
    width: 90%;
    height: 100vh;
    position: absolute;
    display: none;
    justify-content: flex-end;
    align-items: flex-start;
    overflow-y: auto;
    z-index: 9999;
    margin: 1rem;
  }
  
  .Modal--create {
    width: 14.5rem;
    background-color: #43bf00;
    font-weight: 600;
    font-size: medium;
    color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    animation: modalCreate 2s;
  }
  
  .end {
    display: flex;
    justify-content: flex-end;
    padding: 0.4rem 0.4rem 0 0;
  }
  
  .Modal--create > p {
    margin: 0.5rem 1rem 1rem 1rem;
  }
  
  @keyframes modalCreate {
    0% {
      transform: translate3d(50px, 0px, 0px);
    }
    100% {
      transform: translate3d(-50px, 0px, 0px);
    }
  }