@media screen and (min-width: 650px) {
  .container {
    margin-top: 2rem;
  }

  #field__title {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
  }

  .fields__textboxs {
    height: 150px;
  }
  
  .fields__recovery {
    margin-bottom: 20px;
  }
}
